[package]
name = "genomics_kernel"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
wasm-bindgen = "0.2.92"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
rayon = "1.10.0"
